$block-size: 219vw;
$inline-size: 100vw;
$min-screen-width: 375px;
$max-screen-width: 1440px;
$max-block-width: 696px;
$font-color-base: #000; 
$font-opacity: .6; 
$font-color-lite: color-mix(in lch, $font-color-base, transparent 25%);
$font-title-size: 49px;
$font-subtitle-size: 14px;
$font-card-size: 18px;
$font-family-base: 'PressStart2P';
$font-family-card: 'Inter-Variable';
$font-weight-base: 400;
$font-weight-bold: 700;
$line-height-base: 100%;
$line-height-min: 90%;
$line-height-card-title: 21px;
$line-height-max: 150%;
$header-background-gradient: linear-gradient( #E7E7E7, #1A1A1A );
